@use '../variables'

.app
    box-shadow: 10px 10px 0px 3px rgba(variables.$border-color,0.6)
    border-radius: variables.$container-border-radius
    background-color: variables.$bg-color-secondary
    display: flex
    flex-wrap: wrap
    padding: 1rem 2rem
    gap: 1rem
    margin: 2rem

    .main-content
        display: flex
        flex-wrap: wrap

    h1
        width: 100%
        color: variables.$text-primary
        font-weight: 800
        font-size: 4rem