$main-font: "Helvetica"
$text-color-primary: #222
$text-color-secondary: #565656
$border-color: #0078be
$button-color: #228b22
$bg-color: #fff
$bg-color-secondary: #eee
$container-border-radius: 1px
$field-border-radius: 5px
$text-dark: #000
$text-primary: #0077FF